(
    name: "player_running",
    size: (14,8),
    frames: [
        (
            asset: "art/player/player_running.art",
            start: Frame(0,1),
            frame_count: Y(4),
        ),

    ]
)