(
    name: "player_lunging",
    size: (14,8),
    frames: [
        (
            asset: "art/player/player_attacks.art",
            start: Frame(0,1),
            frame_count: Y(3),
        ),

    ]
)