([
    [("cave", "0-1-0"), ("cave", "0-2-0"), ("cave", "0-3-0"), ("cave", "0-0-0")],
    [("cave", "0-1-0"), ("cave", "0-2-0"), ("cave", "0-3-0"), ("cave", "0-0-0")],
    [("cave", "0-1-0"), ("cave", "0-2-0"), ("cave", "0-3-0"), ("cave", "0-0-0")],
    [("cave", "0-1-0"), ("cave", "0-2-0"), ("cave", "0-3-0"), ("cave", "0-0-0")],
])