(
    name: "player_air_strafe",
    size: (14,8),
    frames: [
        (
            asset: "art/player/player_jump.art",
            start: Frame(0,0),
            frame_count: Single,
        ),

    ]
)