([
    [("cave", "0-0-0"), ("cave", "0-0-0"), ("cave", "0-0-0"), ("cave", "0-0-0")],
    [("cave", "0-0-0"), ("cave", "0-0-0"), ("cave", "0-0-0"), ("cave", "0-0-0")],
    [("cave", "0-0-0"), ("cave", "0-0-0"), ("cave", "0-0-0"), ("cave", "0-0-0")],
    [("cave", "0-0-0"), ("cave", "0-0-0"), ("cave", "0-0-0"), ("cave", "0-0-0")],
])